@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: 'Segoe UI', 'Unbuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: Flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #2c3e50;
}


code {
  font-family: source-c
}